.main {
    -fx-background-color: white;
}

#sidebar {
    -fx-background-color: #f8f8f8;
}

.sideBtn {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: #f8f8f8;
    -fx-min-width: 120;
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

.sideBtn:hover {
    -fx-background-color: #eaeaea;
}

.sideBtn:pressed {
    -fx-background-color: none;
}

.wordsInput {
    -fx-border-style:solid; -fx-border-width: 0 0 2 0; -fx-border-color: #a8a8a8;
}