.main {
    -fx-background-color: white;
}

#sidebar {
    -fx-background-color: #f8f8f8;
}

.sideBtn {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: #f8f8f8;
    -fx-min-width: 120;
    -fx-pref-width: 150;
    -fx-max-width: 200;
}

.sideBtn:hover {
    -fx-background-color: #eaeaea;
}

.sideBtn:pressed {
    -fx-background-color: none;
}

.wordsInput {
    -fx-border-style:solid; -fx-border-width: 0 0 1 0; -fx-border-color: #a8a8a8;
    -fx-background-color: none;
    -fx-spacing: 0 10 0 10;
}

.wordsInput:focused {
    -fx-background-color: #e1e1e1;
}

.settingsBtn {
    -fx-background-color: #e1e1e1;
    -fx-padding: 5 15 5 15;
}

.settingsBtn:hover {
    -fx-background-color: #d5d5d5;
}

.settingsBtn:pressed {
    -fx-background-color: none;
}